<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>women employment | DonatifyNGO</title>
    {% include 'ngo_app/common/common_css.html' %}
     <style>
  .centered-imgs {
    text-align: center;
    padding: 20px 0;
  }

  .centered-imgs img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  .small-img{
    width: 100%;
  }
</style>

  
</head>
<!-- <body style="background-color:#f0f8ff"> -->
  <div  class="main-div">
    {% include 'ngo_app/common/header.html' %}
    <div class="container">
       <div style="text-align: center"><h1 style="color: brown;">Where kids' smiles light up the room</h1></div>
    </div>
     <div class="centered-imgs">
                <img src="{% static 'ngo_app/images/c1.webp' %}" alt="Empowerment Image 1">
                <!-- <img src="{% static 'ngo_app/images/ngo4.jpg' %}" alt="Empowerment Image 2"> -->
            </div><br>
  <div>
    <h3>Sehyog Foundation is a known champion of supporting child protection in India. Over the years,
       Sehyog Foundation has implemented a number of projects tackling different forms of abuse of children: trafficking, child marriage, child labour, sexual abuse and exploitation
       . Our work in this area revolves around prevention and timely response, focusing on developing robust child protection systems, strengthening them at the community-, state- and national levels and monitoring them to understand their efficacy.
        Sehyog Foundation has a proven track record in India of both delivering and influencing key policy decisions, such as the legislation on Protection of Children from Sexual Offences Act (2012), Juvenile Justice Act and amendment of Child Labour (Prohibition and Regulation) Act, and the enhancement of child protection services to safeguard vulnerable children.

</h3>
<h2>Initiatives for Child Protection in India by Sehyog Foundation</h2>
<ul>
                        <li><strong> Our Vision : <strong>End all forms of Violence, Abuse and Exploitation of Children in India </li>
                        
                    </ul>
                         <img src="{% static 'ngo_app/images/c5.webp' %}" alt="Child welfare" class="small-img">
</div>
<br>
<h1 style="text-align: center;color: brown;">Key Child Protection Services</h1>
<h2>Sehyog Foundation core areas of work under Child Protection in India include interventions around Children in Street Situations, Child Protection System Strengthening by workforce development through a competency-based training at the local and sub-national levels, ending abuse and exploitation of children, promoting psychosocial well-being through mental health and psychosocial support, online safety of children, and advocating for the child policies in India .</h2>
  <div style="display: flex; margin: 20px auto; gap: 10px;padding: auto;">
    <div style="width: auto;height: 600px;"><img src="{% static 'ngo_app/images/ngo1.jpg' %}" alt="Child welfare" class=""></div>
    <div><h2> Interventions for Children in Street Situations (CISS)</h2>
      <h3>
                    1. Purpose of Intervention:
                    <ul>
                        <li><strong>Evidence generation on the scale of the issue.</strong></li>
                        <li><strong>Policy analysis and advocacy.</strong></li>
                        <li><strong>Development of holistic and sustainable solutions.</strong></li>
                    </ul>
                </h3>
      <h3>
                    1. Purpose of Intervention:
                    <ul>
                        <li><strong>Evidence generation on the scale of the issue.</strong></li>
                        <li><strong>Policy analysis and advocacy.</strong></li>
                        <li><strong>Development of holistic and sustainable solutions.</strong></li>
                    </ul>
                </h3>
      <h3>
                    2. Work Since 2009:
                    <ul>
                        <li><strong>Sehyog Foundation has been actively working for children living in street situations since 2009.</strong></li>
                    </ul>
                </h3>
      <h3>
                    3. 2012 – Landmark Publication:
                    <ul>
                        <li><strong>Released ‘Surviving on the Streets’ – one of the first census-based studies on street children in India.</strong></li>
                        <li><strong>Found that about 51,000 street children lived in Delhi alone.</strong></li>

                    </ul>
                </h3>
      <h3>
                    4.Expanded Survey – 5 Indian Cities: 
                    <ul>
                        <li><strong>Conducted a census and survey of street children across 5 cities.</strong></li>
                        <li><strong>Discovered nearly 85,000 street children lacking:</strong>Valid identity documents,Safe shelter,Access to education,Basic health services.</li>
                        
                    </ul>
                </h3>
      <h3>
                    4.Expanded Survey – 5 Indian Cities: 
                    <ul>
                        <li><strong>Conducted a census and survey of street children across 5 cities.</strong></li>
                        <li><strong>Discovered nearly 85,000 street children lacking:</strong>Valid identity documents,Safe shelter,Access to education,Basic health services.</li>
                        
                    </ul>
                </h3>
      <h3>
                    5.SOP Implementation:
                    <ul>
                        <li><strong>Rolled out in 9 Indian states.</strong></li>
                        <li><strong>Steering groups formed to monitor SOP implementation with relevant stakeholders.</strong>Valid identity documents,Safe shelter,Access to education,Basic health services.</li>
                        
                    </ul>
                </h3>
     
      <h3>
                    6.Call for Support:
                    <ul>
                        <li><strong>Your donation to Sehyog Foundation can:</strong>Help expand these initiatives,Provide essential resources for street-connected children,

Strengthen protection systems across the country.

</li>
                    </ul>
                </h3>
     
</div>
<div>

</div>
  </div>
<div style="width: 700px;height: 800%;">

 <img src="{% static 'ngo_app/images/c3.webp' %}" alt="Child welfare" class="">
</div>





</div>  
    {% include 'ngo_app/common/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>




  
  